@page "/about"

<h3>@Loc["About_Title"]</h3>

<CodeBreakerTabs TabTitles="@(new string[]{Loc["About_Information_Tab"], Loc["About_Instructions_Tab"]})">
    <CodeBreakerTab Title="@Loc["About_Information_Tab"]" Selected="true">
        <div class="tab-container">
            <div class="grid-info">
                <p class="title">@Loc["About_Information_Version"]</p>
                <p class="content">@version</p>
                <p class=title>@Loc["About_Information_Theme"]</p>
                <div class="content">
                    <CodeBreakerThemeSwitch />
                </div>
                <p class="title">@Loc["Language_Select_Label"]</p>
                <div class="content">
                    <LanguageSelector />
                </div>
            </div>
        </div>
    </CodeBreakerTab>
    <CodeBreakerTab Title="@Loc["About_Instructions_Tab"]">
        <div class="tab-container">
            @((MarkupString)instructions)
        </div>
    </CodeBreakerTab>
</CodeBreakerTabs>



