@page "/"
@inject IStringLocalizer<Resource> Loc

<PageTitle>@Loc["AppDisplayName"]</PageTitle>

<h1 class="page-title">@Loc["Index_Welcome"] <b>@Loc["AppDisplayName"]</b></h1>

<div class="content-container wrap-container gap-3">
    <CodeBreakerCard Class="card">
        <HeaderContent>
            <h6>@Loc["Index_Card_Game_Title"]</h6>
        </HeaderContent>
        <CardContent>
            <p>@Loc["Index_Card_Game_Body"]</p>
        </CardContent>
        <CardActions>
            <CodeBreakerButton OnClick="@(() => NavigateTo("/game"))">@Loc["Index_Card_Game_Action"]</CodeBreakerButton>
        </CardActions>
    </CodeBreakerCard>
    <CodeBreakerCard Class="card">
        <HeaderContent>
            <h6>@Loc["Index_Card_Reports_Title"]</h6>
        </HeaderContent>
        <CardContent>
            <p>@Loc["Index_Card_Reports_Body"]</p>
        </CardContent>
        <CardActions>
            <CodeBreakerButton OnClick="@(() => NavigateTo("/reports"))">@Loc["Index_Card_Reports_Action"]</CodeBreakerButton>
        </CardActions>
    </CodeBreakerCard>
    <CodeBreakerCard Class="card">
        <HeaderContent>
            <h6>@Loc["Index_Card_About_Title"]</h6>
        </HeaderContent>
        <CardContent>
            <p class="truncate">@Loc["Index_Card_About_Body"]</p>
        </CardContent>
        <CardActions>
            <CodeBreakerButton OnClick="@(() => NavigateTo("/about"))">@Loc["Index_Card_About_Action"]</CodeBreakerButton>
        </CardActions>
    </CodeBreakerCard>
</div>
